:root{
    --primary-color: rgb(100,121,9);
    --secondary-color: rgb(152,157,111);
    --tertiary-color: rgb(193,151,38);
    --text-color: #f8f4f4;
    --border-color: rgb(252,179,43);
    --brown: rgb(114,62,11);

}

::selection {
    background-color: var(--primary-color);
    color:rgb(5, 198, 232);

}
.page-title{
    background-color: var(--brown);
}

.header-paragraph{
    background-color: #f8f4f4;
}

html{
    font-size: 1.25rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    display: block;

}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  main{
    width: 90%;
    margin: 1rem auto;

  }

.main-content{
    display: flex; /* Use flexbox layout */
  padding: 20px; /* Add padding around the container */
  flex-wrap: wrap;
  grid-auto-columns: max-content;
    align-content: space-around;
    justify-content: space-evenly;
}
.card-column{
   background-color: var(--secondary-color);
   border-style: var(--brown);
   border: solid;
   flex-direction: row;
    margin: 83px;
    display:flex;
}

.code-card{
    display: flex;
    flex-direction: column;

    color:var(--text-color);
}

.code-card .card-header{
    color: rgb(151, 117, 6);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: var(--brown);
}

@media screen and (min-width: 992px){
    .card-column{
        display: flex;
    };
}

    
